<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.11.0" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.11.0" targetFramework="net40" />
  <package id="Nancy.Viewengines.Spark" version="0.11.0" targetFramework="net40" />
  <package id="Spark" version="1.5.1.6" targetFramework="net40" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net40" />
  <package id="xmlrpcnet-server" version="3.0.0.266" targetFramework="net40" />
</packages>